.footer {
    background-color: #198c93;
    padding: 10px;
}

.block-margin {
    margin-top: 15px;
}

.text {
    font-family: sans-serif; /*Tunga*/
    font-style: normal;
    font-size: 17px;
    line-height: 1.8;
    color: #646469;
    text-align: justify;
}

.en:lang(en), .ru:lang(ru) {
    font-weight: bold;
}

.image-wrapper {
    display: inline-block;
    position: relative;
    max-width: 100%;
}

.image-wrapper img {
    display: inline-block;
}

@font-face {
    font-family: "MagistralC";
    src: url("../font/MagistralC.ttf")
}

.caption-overlay {
    position: absolute;
    font-family: MagistralC, sans-serif;
    font-weight: normal;
    font-size: 47px;
    background-color: #01ca9e;
    color: #f9faf9;
    line-height: 1;
    left: 25%;
    bottom: 0;
    padding-left: 4px;
    padding-right: 4px;
}

@font-face {
    font-family: "Franklin";
    src: url("../font/Franklin.ttf")
}

.label-overlay {
    position: absolute;
    font-family: Franklin, sans-serif;
    font-weight: normal;
    font-size: 63px;
    color: #01ca9e;
}

h3 {
    font-family: Trebuchet MS, serif;
    color: #6197b8;
}

.highlighted {
    background-color: #EFF2F9;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 5px;
}

#capabilities img {
    margin-top: 20px;
    margin-bottom: 20px;
}

#customers img {
    padding: 0;
}

@media (max-width: 767px) {
    #logo {
        height: 30px;
        margin-top: 12px;
        margin-left: 10px;
    }
}

@media (min-width: 768px) and (max-width: 999px) {
    #logo {
        display: none;
    }
}

@media (min-width: 1000px) {
    #logo {
        height: 49px;
    }
}
