.footer {
    background-color: #198c93;
    padding: 10px;
}

.container {
    width: 940px;
}

.block-margin {
    margin-top: 15px;
}

.text {
    font-family: Tunga, serif;
    font-style: normal;
    font-size: 22px;
    color: #646469;
    text-align: justify;
}

@font-face {
    font-family:"Franklin";
    src: url("font/Franklin.ttf")
}