.footer {
    background-color: #198c93;
    padding: 10px;
}

.block-margin {
    margin-top: 15px;
}

.text {
    font-family: Open Sans, serif;
    font-style: normal;
    font-size: 17px;
    line-height: 1.8;
    color: #646469;
    text-align: justify;
}

.text-en {
    font-family: Tunga, Open Sans, serif;
    font-style: normal;
    font-size: 22px;
    color: #646469;
    text-align: justify;
}

@font-face {
    font-family: "Franklin";
    src: url("font/Franklin.ttf")
}

@font-face {
    font-family: "MagistralC";
    src: url("font/MagistralC.ttf")
}

.en:lang(en), .ru:lang(ru) {
    font-weight: bold;
}

.image-wrapper {
    display: inline-block;
    position: relative;
    max-width: 100%;
}

.image-wrapper img {
    display: inline-block;
}

.caption-overlay {
    position: absolute;
    font-family: MagistralC, monospace;
    font-weight: normal;
    font-size: 47px;
    background-color: #01ca9e;
    color: #f9faf9;
    line-height: 1;
    left: 25%;
    bottom: 0;
}

.label-overlay {
    position: absolute;
    font-family: Franklin, monospace;
    font-weight: normal;
    font-size: 63px;
    color: #01ca9e;
}

h3 {
    font-family: Trebuchet MS, serif;
    color: #6197b8;
}

.panel {
    background-color: #EFF2F9;
    border-radius: 8px;
    padding-left: 20px;
    padding-bottom: 3px;
}
