---
layout: default
---

<div class="container-fluid" style="background-color:#003238; text-align:center;">
    <div class="image-wrapper resize-caption">
        <img src="/images/banner_Capabilities.jpg" class="img-responsive">

        <div class="caption-overlay">{{site.msg[page.lang].capabilities}}</div>
    </div>
</div>

<div id="capabilities" class="container text block-margin">
    {{site.msg[page.lang].capabilities0}}

    <div class="row highlighted">
        <img src="/images/icon_Automatic.png" class="col-xs-2 img-responsive" style="float:right;">
        {{site.msg[page.lang].capabilities1}}
    </div>

    <div class="row" style="padding: 10px;">
        <img src="/images/icon_Optimization.png" class="col-md-offset-1 col-xs-2 img-responsive" style="float:left;">

        <div class="col-md-8" style="margin-left: -10px;">
            {{site.msg[page.lang].capabilities2}}
        </div>
    </div>

    <div class="row highlighted">
        <img src="/images/icon_Volume_weighted.png" class="col-xs-2 img-responsive" style="float:right;">
        {{site.msg[page.lang].capabilities3}}
    </div>

    <div class="row" style="padding: 10px;">
        <img src="/images/icon_Geocoding.png" class="col-md-offset-1 col-xs-2 img-responsive" style="float:left;">

        <div class="col-md-8" style="margin-left: -10px;">
            {{site.msg[page.lang].capabilities4}}
        </div>
    </div>

    <div class="row highlighted">
        <img src="/images/icon_Module.png" class="col-xs-2 img-responsive" style="float:right;">
        {{site.msg[page.lang].capabilities5}}
    </div>

    <div class="row" style="padding: 10px;">
        <img src="/images/icon_Manual.png" class="col-md-offset-1 col-xs-2 img-responsive" style="float:left;">

        <div class="col-md-8" style="margin-left: -10px;">
            {{site.msg[page.lang].capabilities6}}
        </div>
    </div>
</div>
