---
layout: default
---

<div class="container-fluid" style="background-color:#003238; text-align:center;">
    <div class="image-wrapper resize-caption">
        <img src="/images/banner_Characteristics_of_the_algorithm.jpg" class="img-responsive">

        <div class="caption-overlay">{{site.msg[page.lang].characteristics}}</div>
    </div>
</div>

<div class="container text block-margin">
    <div class="row">{{site.msg[page.lang].characteristics1}}</div>

    <div class="row">
        <img src="/images/picture_Restrictions.png" style="float: right; margin-right: 10px; margin-top: 70px;">
        {{site.msg[page.lang].characteristics2}}
    </div>
</div>
