---
layout: default
---

<div class="container-fluid" style="background-color:#003238; text-align:center;">
    <div class="image-wrapper">
        <img src="/images/clean/banner_FAQ.jpg" class="img-responsive">

        <div class="caption-overlay">{{site.msg[page.lang].faq}}</div>
    </div>
</div>

<div class="container text block-margin">
    <div class="row">
        {{site.msg[page.lang].faq1}}
        <hr/>
    </div>
    <div class="row">
        {{site.msg[page.lang].faq2}}
        <hr/>
    </div>
    <div class="row">
        {{site.msg[page.lang].faq3}}
        <hr/>
    </div>
    <div class="row">
        {{site.msg[page.lang].faq4}}
        <hr/>
    </div>
</div>
