---
layout: default
---

<div class="container-fluid" style="background-color:#003238; text-align:center;">
    <div class="image-wrapper resize-label">
        <img src="/images/banner_Service_to_optimize.jpg" class="img-responsive">

        <div class="label-overlay" style="top:19%; left:26%;">{{site.msg[page.lang].index5}}</div>
        <div class="label-overlay" style="top:36%; left:26%;">{{site.msg[page.lang].index6}}</div>
    </div>
</div>

<div class="container text block-margin">
    <div class="row">{{site.msg[page.lang].index1}}</div>

    <div class="row">
        <img src="/images/scheme_Connect_to.jpg" class="img-responsive" style="float: left; margin-right: 10px;">

        <div>{{site.msg[page.lang].index2}}</div>
    </div>
</div>

<div class="container-fluid block-margin" style="background-color:#003238; text-align:center;">
    <div class="image-wrapper resize-label">
        <img src="/images/banner_Increase_profit.jpg" class="img-responsive">

        <div class="label-overlay" style="top:10%; left:24%;">{{site.msg[page.lang].index7}}</div>
        <div class="label-overlay" style="top:27%; left:24%;">{{site.msg[page.lang].index8}}</div>
    </div>
</div>

<div class="container text block-margin">
    <div class="row">{{site.msg[page.lang].index3}}</div>
</div>

<div class="container-fluid block-margin">
    <img src="/images/scheme_Building_routers.jpg" class="img-responsive center-block">
    <!--<img src="/images/old/scheme_Building_routers-old.jpg" class="img-responsive center-block">-->
</div>

<script>
    $(window).load(function () {
        setFontSize("resize-label", 30);
        $(window).resize(function () {
            setFontSize();
        });
    });
</script>
