---
layout: default
---

<div class="container-fluid" style="background-color:#003238; text-align:center;">
    <div class="image-wrapper">
        <img src="/images/clean/banner_Pricing.jpg" class="img-responsive">

        <div class="caption-overlay">{{site.msg[page.lang].pricing}}</div>
    </div>
</div>

<div class="container text block-margin">
    {{site.msg[page.lang].pricing1}}

    <table class="table-hover">
        <thead>
        <tr>
            <th></th>
            <th>{{site.msg[page.lang].pricing2}}</th>
            <th>{{site.msg[page.lang].pricing3}}</th>
            <th>{{site.msg[page.lang].pricing4}}</th>
            <th>{{site.msg[page.lang].pricing5}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{site.msg[page.lang].pricing6}}</td>
            <td>$ 7</td>
            <td>$ 7</td>
            <td>$ 7</td>
            <td>$ 7</td>
        </tr>
        <tr>
            <td>{{site.msg[page.lang].pricing7}}</td>
            <td>$ 10</td>
            <td>$ 10</td>
            <td>$ 10</td>
            <td>$ 10</td>
        </tr>
        <tr>
            <td>{{site.msg[page.lang].pricing8}}</td>
            <td>{{site.msg[page.lang].pricing15}}</td>
            <td>{{site.msg[page.lang].pricing15}}</td>
            <td>{{site.msg[page.lang].pricing15}}</td>
            <td>{{site.msg[page.lang].pricing15}}</td>
        </tr>
        <tr>
            <td>{{site.msg[page.lang].pricing9}}</td>
            <td>{{site.msg[page.lang].pricing15}}</td>
            <td>{{site.msg[page.lang].pricing15}}</td>
            <td>{{site.msg[page.lang].pricing15}}</td>
            <td>{{site.msg[page.lang].pricing15}}</td>
        </tr>
        <tr>
            <td>{{site.msg[page.lang].pricing10}}</td>
            <td>+</td>
            <td>+</td>
            <td>+</td>
            <td>+</td>
        </tr>
        <tr>
            <td>{{site.msg[page.lang].pricing11}}</td>
            <td>+</td>
            <td>+</td>
            <td>+</td>
            <td>+</td>
        </tr>
        <tr>
            <td>{{site.msg[page.lang].pricing12}}</td>
            <td>+</td>
            <td>+</td>
            <td>+</td>
            <td>+</td>
        </tr>
        <tr>
            <td>{{site.msg[page.lang].pricing13}}</td>
            <td>+</td>
            <td>+</td>
            <td>+</td>
            <td>+</td>
        </tr>
        <tr>
            <td>{{site.msg[page.lang].pricing14}}</td>
            <td>$ 4</td>
            <td>$ 4</td>
            <td>$ 4</td>
            <td>$ 4</td>
        </tr>
        </tbody>
    </table>
</div>
